.scw-dummy-image {
  position: relative; }
  .scw-dummy-image:before {
    content: '';
    display: block; }
  .scw-dummy-image:after {
    font: 20px/1 Helvetica;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.scw-header {
  position: relative; }
  .scw-header::after {
    background-size: contain;
    content: '';
    display: block;
    position: absolute; }

.scw-dummy-image {
  background: #438ccb; }
  .scw-dummy-image:before {
    padding-bottom: 100%; }
  .scw-dummy-image:after {
    content: "FPO";
    color: #fff; }

.scw {
  background-color: #252525;
  color: #fff;
  font: 21.3333333333px Helvetica; }

.scw-header {
  margin: 0 auto;
  max-width: 50vw; }
  .scw-header:after {
    left: 0;
    top: 0;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="850.391" height="850.39" viewBox="0 0 850.391 850.39"><path fill-rule="evenodd" clip-rule="evenodd" fill="#ffae00" d="M765.94 547.717s-19.966-15.26-92.894-40.38c-13.6-4.683-23.44-11.4-37.53-16.4-41.52-14.735-82.966-26.093-111.677-35.786-21-7.09-35.792-14.792-35.792-14.792s-18.62-18.197-31.01-26.348c-21.438-14.104-49.688-29.84-74.352-44.496-23.104-13.73-61.877-36.258-77.855-48.31-17.56-13.25-33.23-29.978-33.23-29.978s-22.954-22.734-45.622-41.19c-18.357-14.946-37.344-26.356-37.344-26.356s3.547-1.658 6.174-2.63c4.148-1.54 8.094-2.665 8.094-2.665s-2.156-.283-5.488.193c-3.885.557-9.166 1.86-11.38 1.422-4.606-.91-.622-5.066-.622-5.066l13.12-13.578s-2.087 1.63-3.724 1.994c-2.367.525-4.562-.152-4.562-.152l7.594-9.205s-1.604 1.71-2.916 2.475c-3.627 2.11-9.742 4.89-9.742 4.89s11.35-10.362 16.188-16.6c3.775-4.87 1.305-5.474 1.305-5.474l-7.594 4.352 2.07-5.754s-2.733 2.352-4.23 3.406c-4.574 3.22-12.11 8.102-12.11 8.102v-1.842s-14.76 9.324-28.85 20.885c-16.448 13.488-32.597 29.516-32.597 29.516s-8.014 6.362-10.852 9.853c-5.93 7.293-9.17 14.773-9.17 14.773s-5.51 10.51-8.573 18.64c-2.52 6.687-2.703 11.276-2.703 11.276s-.893 2.67-2.363 4.922c-3.634 5.557-10.82 15.86-16.917 30.387-3.46 8.245-2.354 15.095-2.354 15.095s1.347-1.98 2.35-2.88c1.27-1.142 2.253-1.263 2.253-1.263s-2.885 4.54-3.332 7.828c-.472 3.494 1.49 5.75 1.49 5.75s2.3 2.7 4.194 2.61c2.852-.132 5.703-3.07 5.703-3.07l-1.61 7.825s6.798-.068 15.454-2.27c15.19-3.866 36.097-10.85 36.097-10.85l1.273 4.563 2.64-2.03 1.382 7.136 1.84.46s3.352 29.073 11.12 57.27c6.685 24.272 18.636 70.52 68.905 106.218 15.105 10.73 31.893 19.695 45.72 24.473 15.337 5.3 26.954 5.818 26.954 5.818s6.956.445 11.554 1.232c4.463.768 6.57 1.875 6.57 1.875s4.545 1.225 9.105 1.13c9.704-.202 23.688-1.82 23.688-1.82s3.17-.65 4.516-.538c1.785.143 1.87 1.055 1.87 1.055s-25.24 29.318-36.386 42.848c-1.637 1.986-3.502 4.535-4.875 7.463-1.52 3.234-2.502 6.814-3.34 7.94-3.58 4.806-9.424 8.894-9.424 8.894s-1.276-.754-2.692-.617c-3.285.322-5.8 2.764-5.25 2.52-.664.292-1.898-.007-1.898-.007s-.953-1.11-1.88-1.21c-1.392-.15-2.952.692-2.952.692s-.96-.803-1.71-.676c-.8.133-1.397 1.193-1.397 1.193s-1.366.525-2.56.936c-1.526.523-2.96.963-2.96.963s-2.53 1.408-3.613 3.03c-.986 1.48-.53 3.185-.53 3.185s.808-.993 1.214-1.226c1.054-.604 2.41-.846 2.41-.846s1.757.46 2.653.342c1.576-.203 2.7-1.03 2.7-1.03s2.462-.17 3.23.22c2.642 1.344.91 2.54.91 2.54l-7.42 1.554s-4.192-.188-7.288.525c-3.285.75-5.486 2.407-5.486 2.407s-4.827 1.213-6.067 2.412c-2.846 2.743-3.6 6.907-3.6 6.907s2.49-2.098 4.36-2.973c2.636-1.234 4.92-1.37 4.92-1.37s.466 2.292 1.503 3.335c1.115 1.122 1.816 1.007 1.816 1.007s.885-2.902 2.625-3.564c.754-.29 2.008.14 3.174-.197 1.218-.354 2.355-1.48 3.538-1.654 2.33-.355 4.127-.152 6.21-.607 3.78-.828 6.202-2.262 6.202-2.262s-1.11 1.885-1.324 3.734c-.22 1.943.463 3.863.463 3.863s1.198-3.143 2.683-4.402c1.36-1.152 3.012-.432 3.012-.432s3.31 2.508 5.273 1.268c2.562-1.62 6.21-4.004 8.69-6.715 2.495-2.728 3.815-5.772 3.815-5.772s4.176.27 5.473-1.223c2.344-2.7 2.467-7.926 2.467-7.926l4.832-.35s.86-1.15 1.72-1.333c1.413-.305 3.114.3 3.114.3s2.437.87 4.724-.16c2.557-1.15 4.807-4.255 6.586-5.712 3.393-2.775 2.15 2.594 2.15 2.594s-3.36 5.33-7.393 10.173c-2.547 3.06-1.754 5.705-1.754 5.705s-1.41 2.127-3.146 3.74c-3.58 3.324-8.938 7.48-8.938 7.48s-3.16-2.144-7.17-.18c-2.884 1.41-2.667 4.84-2.667 4.84s-2.555.747-3.436 1.36c-1.84 1.28-2.78 2.953-2.78 2.953s-7.366-.38-13.046.403c-4.052.56-6.976 2.36-6.976 2.36s-6.295 1.724-8.236 3.362c-3.936 3.324-5.053 7.857-5.053 7.857s3.54-2.52 6.46-4.02c3.116-1.605 5.622-2.194 5.622-2.194s.645 1.107 1.51 1.627c.86.518 1.943.445 1.943.445l6.387-.172s1.248.604 2.146.434c.914-.174 1.48-1.125 1.48-1.125s3.417-2.156 6.606-2.76c2.808-.533 3.4.863 3.4.863s-5.466 3.922-6.136 6.535c-1.725 6.72.268 8.996.268 8.996s.95-4.216 2.828-7.147c1.973-3.076 4.883-4.877 4.883-4.877s1.172-.164 2.123-.658c1.594-.83 3.02-2.852 4.852-3.93 1.68-.986 4.072-1.164 4.072-1.164l2.53 2.992 1.15-.92s2.858 1.213 4.61-.174c2.488-1.963 4.135-6.732 4.135-6.732s2.643 2.23 4.533.217c1.893-2.016 2.584-6.123 3.785-8.846.812-1.84 2.498-2.874 2.498-2.874s1.892-.188 2.868-.7c1.537-.802 2.428-2.063 2.428-2.063s.775 2.43 3.95 2.533c8.08.26 9.167-2.762 9.167-2.762l1.38.23 1.382-2.07s1.08.7 2.117.7c1.682 0 3.637-.7 3.637-.7l2.07.92s4.214 1.59 5.87.25c3.45-2.79.113-7.845.113-7.845s3.998-2.085 6.117-1.993c4.625.207 9.53 2.68 9.53 2.68s-1.25-4.912-7.708-6.332c-6.24-1.37-13.463 1.04-13.463 1.04s-1.282-1.153-2.206-.862c-1.22.383-2.168 2.244-2.168 2.244s-.89-1.162-1.887-.865c-1.272.38-2.718 2.246-2.718 2.246l-12.426 1.727-.69-3.107s1.606-.438 2.378-1.982c.78-1.562.73-4.23.73-4.23s7.75-14.78 14.694-27.047c6.316-11.155 11.885-19.905 11.885-19.905s6.812-9.178 9.02-11.73c4.328-5.002 3.062-9.324 3.062-9.324s.953-12.237 6.8-17.276c8.35-7.193 20.274-10.297 28.06-13.623 3.926-1.675 7.604-5.692 7.604-5.692s7.272-1.588 8.892-4.416c1.822-3.19-1.99-7.666-1.99-7.666s15.932-1.63 25.33-4.244c6.98-1.943 8.156-5.076 8.156-5.076s6.572.727 14.393.418c4.704-.184 8.513-1.65 15.392-1.316 11.79.576 23.582 1.986 35.72 3.045 17.485 1.523 33.57 2.684 33.57 2.684l58.343 17.607s15.568 4.408 30.69 10.072c27.206 10.19 61.48 24.45 61.48 24.45s11.9 4.958 20.323 7.282c6.27 1.73 9.71 1 9.71 1s5.825 2.133 8.105 2.133c3.24 0 3.287-2.132 3.287-2.132s4.346 2.19 5.705 2.258c1.977.1 1.2-1.91 1.2-1.91s17.333.717 17.15-.918c-.3-2.737-18.184-8.41-18.184-8.41zM108.39 319.102c-2.14 1.748-2.49 5.266-2.49 5.266l-3.28-2.418 11.564-9.492 2.936 3.084s-6.165 1.458-8.73 3.56zm255.15 247.716l-17.26 29.46s-6.263 3.454-13.74 6.58c-4.114 1.722-11.575 4.007-11.575 4.007s-1-.8-.672-2.043c.232-.885 1.822-2.33 1.822-2.33s1.682-2.285 3.58-5.39c1.506-2.456 3.324-5.888 3.324-5.888s3.587-7.107 11-16.22c9.003-11.067 22.14-24.515 22.14-24.515s3.207 3.483 3.6 8.13c.277 3.286-2.22 8.208-2.22 8.208z"/></svg>') center/cover;
    width: 100px;
    height: 100px; }
  .scw-header__logo {
    display: block;
    width: 100%; }

.scw-container {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 90%; }
  .scw-container__item {
    width: 20%; }

.scw-body {
  display: flex;
  margin: 0 auto;
  width: 90%; }
  .scw-body__item--text {
    width: 50%; }
  .scw-body__item--image {
    width: 40%;
    margin-left: 10%; }

.scw-banner-text {
  font-size: 48px;
  text-transform: uppercase; }
